@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../tailwind/components.css";
@import "tailwindcss/utilities";

html {
  font-family: var(--font-yekanbakh);
  ::placeholder {
    @apply text-xs;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_nav {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}

.contact {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
}

.login_btn {
  line-height: unset;
}

.contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 500px;
  background-color: #ffa500;
  color: #ffa500;
  display: inline-block;
  z-index: -2;
}

.contact:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
  z-index: -1;
}

.contact:hover::before {
  width: 200%;
  height: 500px;
}

.footer_bar {
  background: -webkit-linear-gradient(90deg, #db8e00, #ffa500);
}

.main-prev {
  width: unset !important;
  height: unset !important;
  margin-top: -80px !important;
  left: 0px !important;
}

.main-next {
  width: unset !important;
  height: unset !important;
  margin-top: -80px !important;
  right: 0 !important;
}

.project-prev {
  width: unset !important;
  height: unset !important;
  margin-top: -90px !important;
  left: -25px !important;
}

.project-next {
  width: unset !important;
  height: unset !important;
  margin-top: -90px !important;
  right: -25px !important;
}

.project-prev.swiper-button-prev svg,
.project-next.swiper-button-next svg {
  width: 50px !important;
  height: 50px !important;
}

.next_icon {
  width: 25px !important;
  height: 25px !important;
}

/********Related projects slider buttons**************/
.related-prev {
  position: unset !important;
  height: 40px !important;
  width: 40px !important;
  color: unset !important;
  margin-top: unset !important;
}

.related-next {
  position: unset !important;
  height: 40px !important;
  width: 40px !important;
  color: unset !important;
  margin-top: unset !important;
}

/********Related projects slider buttons************/

/**********ant-design-table-styles***************************************/

.ant-table-content {
  overflow: auto;
}

.ant-table-pagination-left {
  justify-content: center !important;
}

.ant-table-thead > tr > th {
  background: #262b31 !important;
  color: #fff !important;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :first-child {
  border-start-start-radius: 0;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :last-child {
  border-start-end-radius: 0;
}

.ant-table-wrapper .ant-table-container {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  border: 1px solid #ffa500;
}

.ant-pagination .ant-pagination-options {
  position: absolute;
  top: -40px;
  left: 0;
}

/*ant select width */

:where(.css-dev-only-do-not-override-1fyvwjc).ant-select {
  width: 200px;
}

.ant-select-show-search:where(
    .css-dev-only-do-not-override-1fyvwjc
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  cursor: pointer;
}

.ant-select-single .ant-select-selector {
  border-radius: 0;
}

.ant-table-wrapper .ant-table-filter-trigger {
  margin-inline: 0;
  margin-left: 10px;
}

.ant-table-wrapper .ant-table-filter-column {
  flex-direction: row-reverse;
}

.ant-table-wrapper .ant-table-filter-trigger {
  color: #fff;
}

.ant-table-wrapper .ant-table-filter-trigger:hover {
  color: #ffa500;
}

:where(.css-dev-only-do-not-override-1fyvwjc).ant-table-wrapper
  .ant-table-row-expand-icon {
  background: #262b31;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1fyvwjc).ant-table-wrapper
  .ant-table-row-expand-icon:hover {
  background: #262b31;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1fyvwjc).ant-table-wrapper
  .ant-table-row-expand-icon:focus {
  background: #262b31;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1fyvwjc).ant-table-wrapper
  .ant-table-row-expand-icon {
  border-radius: 0;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  text-align: center;
}

.ant-table-wrapper .ant-table-thead > tr > th:nth-child(2) {
  text-align: right;
}

.ant-table-wrapper .ant-table-tbody > .ant-table-row-level-0 > td {
  text-align: center;
}

.table-row-light {
  background: #ffffff;
}

.table-row-dark {
  background: rgba(0, 0, 0, 0.02);
}

.ant-table-wrapper tr.ant-table-expanded-row > td {
  background: unset;
}

.ant-table-tbody > tr.ant-table-expanded-row:hover > td {
  background: unset;
}

.ant-table-wrapper .ant-table-tbody > .ant-table-row-level-0 > td:nth-child(2) {
  text-align: right;
  font-weight: bold;
  color: #3f9733;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 7px;
  font-size: 12px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ant-input-affix-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}

/***************End-of-ant-design-table-styles************************************************/
.filter_btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ffa500;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  background: #fff;
  box-shadow: 0 7px 25px rgb(41 41 41 / 27%);
  transition: 0.4s;
}

.filter_active {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  background: #ffa500;
  box-shadow: 0 7px 25px rgb(41 41 41 / 27%);
  transition: 0.4s;
}

.filter_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #41464b;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
  z-index: -1;
}

.filter_btn:hover::before {
  width: 200%;
  height: 500px;
}

.thumbs .swiper-slide {
  opacity: 0.25;
}

.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.7) !important;
}
.customModal {
  background: #b2dbbf;
  max-width: 600px !important;
  padding: 10px !important;
  width: 100%;
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.project_slider_container:hover .project_slider_content {
  background-image: linear-gradient(to top, rgba(3, 15, 39, 1), transparent);
}

.project_slider_content {
  background-image: linear-gradient(to top, rgba(3, 15, 39, 0.7), transparent);
}

/* src/styles/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  direction: ltr;
  padding: 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .ellipsis {
  margin: 0 5px;
  padding: 5px 10px;
}
