@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../../tailwind/components.css";
@import "tailwindcss/utilities";

html {
  font-family: var(--font-yekanbakh);
  scroll-behavior: smooth !important;
  ::placeholder {
    @apply text-xs;
  }
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_nav {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}

.contact {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
}

.login_btn {
  line-height: unset;
}

.contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 500px;
  background-color: #ffa500;
  color: #ffa500;
  display: inline-block;
  z-index: -2;
}

.contact:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
  z-index: -1;
}

.contact:hover::before {
  width: 200%;
  height: 500px;
}

.footer_bar {
  background: -webkit-linear-gradient(90deg, #db8e00, #ffa500);
}

.main-prev {
  width: unset !important;
  height: unset !important;
  margin-top: -80px !important;
  left: 0px !important;
}

.main-next {
  width: unset !important;
  height: unset !important;
  margin-top: -80px !important;
  right: 0 !important;
}

.project-prev {
  width: unset !important;
  height: unset !important;
  margin-top: -90px !important;
  left: -25px !important;
}

.project-next {
  width: unset !important;
  height: unset !important;
  margin-top: -90px !important;
  right: -25px !important;
}

.project-prev.swiper-button-prev svg,
.project-next.swiper-button-next svg {
  width: 50px !important;
  height: 50px !important;
}

.next_icon {
  width: 25px !important;
  height: 25px !important;
}

/********Related projects slider buttons**************/
.related-prev {
  position: unset !important;
  height: 40px !important;
  width: 40px !important;
  color: unset !important;
  margin-top: unset !important;
}

.related-next {
  position: unset !important;
  height: 40px !important;
  width: 40px !important;
  color: unset !important;
  margin-top: unset !important;
}

/********Related projects slider buttons************/

/***************End-of-ant-design-table-styles************************************************/
.filter_btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ffa500;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  background: #fff;
  box-shadow: 0 7px 25px rgb(41 41 41 / 27%);
  transition: 0.4s;
}

.filter_active {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  background: #ffa500;
  box-shadow: 0 7px 25px rgb(41 41 41 / 27%);
  transition: 0.4s;
}

.filter_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #41464b;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0;
  z-index: -1;
}

.filter_btn:hover::before {
  width: 200%;
  height: 500px;
}

.thumbs .swiper-slide {
  opacity: 0.25;
}

.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.7) !important;
}
.customModal {
  background: #b2dbbf;
  max-width: 600px !important;
  padding: 10px !important;
  width: 100%;
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.project_slider_container:hover .project_slider_content {
  background-image: linear-gradient(to top, rgba(3, 15, 39, 1), transparent);
}

.project_slider_content {
  background-image: linear-gradient(to top, rgba(3, 15, 39, 0.7), transparent);
}
